extends layout 

block content 

    main(class=" flex-grow flex flex-col sm:flex-row h-3/4 gap-x-4 text-center").flex.justify-center.p-6.items-center 
        img(src=item.imageURL class=" w-full h-52 sm:h-96 object-scale-down rounded shadow-lg shadow-black") 
        article.flex.flex-col.items-center.justify-center
            h1.text-2xl= item.name 
            h3 Price: $#{item.price} | Stock Available: #{item.available} 
            p= item.desc 

